%% Directories
{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.

{deps, [
  {cowboy, ".*",
    {git, "https://github.com/extend/cowboy.git", "master"}},
  {json, ".*",
    {git, "https://github.com/hio/erlang-json.git", "master"}},
  {poolboy, ".*",
    {git, "https://github.com/devinus/poolboy.git", "master"}}
]}.
